
    .subscribe-button {
      background-color: rgb(0, 0, 0);
      border: none;
      color: white;
      border-radius: 5px;
      margin-right: 8px;
      margin-left: 20px;
      transition: opacity 0.15s;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 16px;
      padding-right: 16px;
      vertical-align: top;
    }

    .join-button {
      background-color: white;
      border-color: blue;
      color: blue;
      border-style: solid;
      cursor: pointer;
      border-width: 1px;
      border-radius: 2px;
      margin-right: 15px;
      transition: background-color 0.15s, color 1s;
      vertical-align: top;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .tweet-button {
      background-color: rgb(36, 36, 239);
      border-radius: 20px;
      color: white;
      border: none;
      font-weight: bold;
      font-size: 15px;
      transition: box-shadow 0.15s;
      vertical-align: top;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 16px;
      padding-right: 16px;

    }

    .tweet-button:hover {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    }

    .subscribe-button:hover {
      opacity: 0.8;
    }

    .subscribe-button:active {
      opacity: 0.1;
    }

    .join-button:hover {
      background-color: rgb(41, 118, 211);
      color: white;
    }

    .join-button:active {
      opacity: 0.7;
    }
 