p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-title {
  font-weight: bold;
  font-size: 20px;
  width: 280px;
  line-height: 26px;
  margin-bottom: 8px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0px;
  margin-bottom: 30px;
}

.video-author {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.video-description {
  color: rgb(96, 96, 96);
  width: 280px;
  font-size: 14px;
  line-height: 22px;
  margin-top: 0px;
  margin-bottom: 100px;
}

.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(277, 65, 64);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
}

.span-example {
  color: green;
  margin-left: 10px;
}

.span-example:hover {
  text-decoration: underline;
  cursor: pointer;
}