.search-bar {}

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  background-color: white;
  display: flex;
  align-items: center;

}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.right-section {
  background-color: beige;
  width: 200px;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-logo {
  height: 20px;
}

.search-button {
  height: 40px;
  width: 60px;
  background-color: rgb(238, 242, 238);
  border: 1px solid white;
}
.voice-search-button {
  height: 40px;
  width: 60px;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 12px;
  font-size: 16px;
  border-width: 1px;
  border-color: grey;
  border-style: 1px;
  border-radius: 5px;
  box-shadow: inset 1px 2px 3px red;
}

.search-bar::placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}