

.thumbnail {
  margin-bottom: 10px;
  width: 100%;
}



.video-title {
  margin-top: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-author {
  font-size: 15px;
  color: green;
  margin-bottom: 4px;
}

.search-bar {
  display: block;
}

.video-stats {
  font-size: 12px;
  color: rebeccapurple;
}

.channel-picture {
  background-color: red;
}

.video-info {
  background-color: green;
}

.profile-picture {
  width: 40px;
  border-radius: 30px;
}

.thumbnail-row {
  margin-bottom: 12px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}